.accueil {
    
    padding-top: 6rem;
    padding-left: 28rem;
    display: flex;
    padding-right: 28rem;
    height: calc(100vh - 107px);

    .presentation, .animation {

        width: 50%;

    }

    .presentation {

        &__nom {

            padding-bottom: 5rem;
            border-bottom: 0.4rem solid var(--color-vert);
            width: 80%;

        }

        &__metier {

            padding-top: 7rem;

        }

        &__specialite {

            padding-top: 1rem;
            padding-bottom: 6rem;

            & span {
                color: var(--color-vert);
            }

            & .point {
                font-size: 6rem;
            }

        }

        &__description {
            margin-bottom: 8rem;
            line-height: 3.1rem;
        }

        &__contact {
            padding : 3rem 5rem ;
            border: 0.1rem solid var(--color-vert);
            color: var(--color-vert);
            font-size: var(--font-size-grand);
            border-radius: 10rem;   
            font-family: var(--font-family-dm-serif-display);
            display: inline-flex;
        }

    }

    .animation {

        position: relative;

        &__eclat {
            position: absolute; // a revoir positionnement eclat qui mange sur la navbar
            top: -10rem;
            left: 9rem; 
        }

        &__valentin {

            width: 45.8rem;
            position: absolute;
            bottom: 0;
            left: 0;

        }

        &__pokeball {

            position: absolute;
            bottom: 34.4rem;
            left: 35.5rem;

        }

        &__html {

            position: absolute;
            top: 20rem;
            left: 60rem;
            animation: fallhtml 26s linear;

        }

        @keyframes fallhtml {
            60% {
                transform: /* rotate(360deg) */ translateX(-30rem) translateY(12rem);
            }
        }

        &__css {

            position: absolute;
            top: 4rem;
            left: 58rem;
            animation: fallcss 20s linear;

        }

        @keyframes fallcss {
            60% {
                transform: translateX(-20rem) translateY(26rem);
            }
        }

        &__vuejs {

            position: absolute;
            top: 4rem;
            left: 35rem;
            animation: fallvuejs 20s linear;

        }

        @keyframes fallvuejs {
            60% {
                transform: translateY(24rem) translateX(2rem);
            }
        }

        &__javascript {

            position: absolute;
            top: 20rem;
            left: 42rem;
            width: 6rem;
            animation: falljavascript 20s linear;

        }

        @keyframes falljavascript {
            60% {
                transform: translateY(10rem) translateX(-2rem);
            }
        }

        &__rotate, &__opacity , &__position {
            font-size: 1.2rem;
            font-family: var(--font-family-pacifico);
            color: var(--color-vert);
        }

        &__rotate {

            position: absolute;
            top: 15rem;
            left: 42rem;
            animation: fallrotate 20s linear;

        }

        @keyframes fallrotate {
            60% {
                transform: translateY(19rem) translateX(-4rem);
            }
        }

        &__opacity {

            position: absolute;
            top: 20rem;
            left: 28rem;
            animation: fallopacity 20s linear;

        }

        @keyframes fallopacity {
            60% {
                transform: translateY(14rem) translateX(10rem);
            }
        }

        &__position {

            position: absolute;
            top: 30rem;
            left: 48rem;
            animation: fallposition 20s linear;

        }

        @keyframes fallposition {
            60% {
                transform: translateY(4rem) translateX(-8rem);
            }
        }

        &__valentinpc {

            visibility: hidden;
            position: relative;

            &:before {

                content: url('../../public/img/blob-vert.svg');
                z-index: 10;
                position: absolute;
                left: 15rem;
                z-index: 0;
    
            } 

            &:after {

                content: url('../../public/img/valentinpc.svg');
                z-index: 10;
                position: absolute;
                left: 24rem;
                top: 2rem;
                z-index: 4;
    
            } 

        }

        &__description {

            font-family: var(--font-family-kreon);
            font-size: var(--font-size-grand);
            color: var(--color-vert);
            position: absolute;
            left: 30rem;
            top: 60rem;

        }

        @keyframes flash {
            0% {
                color: var(--color-vert);
                text-shadow: 0 0 0.7rem var(--color-vert);
            }
            90% {
                color: #000000;
                text-shadow: none;
            }
            100% {
                color: var(--color-vert);
                text-shadow: 0 0 0.7rem var(--color-vert);
            }
        }

        &__lettre { 

        animation: flash 2s linear infinite;

        }

        &__lettre:nth-child(1){
            animation-delay: 0.1s
        }

        &__lettre:nth-child(2){
            animation-delay: 0.2s
        }

        &__lettre:nth-child(3){
            animation-delay: 0.3s
        }

        &__lettre:nth-child(4){
            animation-delay: 0.4s
        }

        &__lettre:nth-child(5){
            animation-delay: 0.5s
        }

        &__lettre:nth-child(6){
            animation-delay: 0.6s
        }

        &__lettre:nth-child(7){
            animation-delay: 0.7s
        }

        &__lettre:nth-child(8){
            animation-delay: 0.8s
        }

        &__lettre:nth-child(9){
            animation-delay: 0.9s
        }

        &__lettre:nth-child(10){
            animation-delay: 1s
        }

        &__lettre:nth-child(11){
            animation-delay: 1.1s
        }

        &__lettre:nth-child(12){
            animation-delay: 1.2s
        }

        &__lettre:nth-child(13){
            animation-delay: 1.3s
        }

        &__lettre:nth-child(14){
            animation-delay: 1.4s
        }

        &__lettre:nth-child(15){
            animation-delay: 1.5s
        }

        &__lettre:nth-child(16){
            animation-delay: 1.6s
        }

        &__lettre:nth-child(17){
            animation-delay: 1.7s
        }

        &__lettre:nth-child(18){
            animation-delay: 1.8s
        }

        &__lettre:nth-child(19){
            animation-delay: 1.9s
        }

        &__lettre:nth-child(20){
            animation-delay: 2s
        }

    }

}