.apropos {

    padding : var(--padding-sections);
    @include flex-align;
    flex-direction: column;

    &__titre { 
    
        padding-bottom: 3rem;
        border-bottom: 0.4rem solid var(--color-vert);
        align-self: flex-end;
    
    }

    &__bloc {

        margin-top: 14rem;
        display: flex;
        flex-direction: column;
        background-color: var(--color-gris-fonce);
        border: 0.6rem double var(--color-gris-clair);
        border-radius: 2rem;

        p {
            font-size: var(--font-size-intermediaire);
            line-height: 4rem;
            padding-left: 10rem;
            padding-right: 10rem;
        }

    }

    &__gris {

        color: var(--color-gris-clair);

    }

    &__violet {

        color: var(--color-violet);

    }

    &__bleu {

        color: var(--color-bleu);

    }

    &__vert {

        color: var(--color-vert);

    }

    &__rouge {

        color: var(--color-rouge);

    }

    &__engloberond {

        display: flex;
        padding-top: 4rem;
        padding-bottom: 9.4rem;
        padding-left: 5rem;


    }

    &__rond {

        height: 3rem;
        width: 3rem;
        background-color: var(--color-gris-clair);
        border-radius: 100%;
        display: inline;

        &:nth-child(n + 2) {

            margin-left: 3rem;

        }

    }

    &__experiences {

        display: flex;
        align-items: center;
        padding-top: 3rem;
        padding-bottom: 10rem;

        p {
            padding-left: 8rem;
        }

        a {
            border: 3rem double var(--color-gris-vert);
            display: flex;
            align-items: center;
        }

    }

}