.competences {

    padding : var(--padding-sections);

    &__titre {
    
        padding-bottom: 3rem;
        border-bottom: 0.4rem solid var(--color-vert);
        max-width: 27rem;

    }

    &__toggle {

        @include flex-align;
        flex-direction: column;
        position: relative;

    }

    &__changer {

        margin-top: var(--padding-apres-titre);
        margin-bottom: var(--padding-apres-titre);
        border: 0.4rem solid var(--color-vert);
        border-radius: 8rem;
        padding: 1.2rem;
        @include flex-align;
        position: relative;

        &::before {

            content: "";
            background-color: var(--color-vert);
            width: 17rem;
            height: calc(100% - 2 * 1.2rem);
            position: absolute;
            border-radius: 4rem;
            transition: transform 0.5s;

        }

        &.droite::before {
            transform: translateX(17.2rem);
        }

        &.droite button:last-child {
            color: var(--color-noir);
        }

        &.droite button:first-child {
            color: var(--color-gris-clair);
        }

        &.droite .competences__liste-design {
            visibility: visible;
        } 

        &.droite + .conteneur-liste > .competences__liste-design {

            visibility: visible;
            position: relative;
            top: 0;
            /* transform: scale(0.4); */

        }

        &.droite + .conteneur-liste > .competences__liste-tech {

            visibility: hidden;
            position: absolute;
            top: 4rem;
            /* transform: scale(1); */

        }

        & button:first-child {
            color: var(--color-noir);
        }

        & button {

            padding: 2.36rem 5.6rem; 
            width: 17rem; 
            border-radius: 4rem;
            @include flex-justify-align;
            color: var(--color-gris-clair);
            z-index: 6;
            
        }

    }

    .conteneur-liste {

        position: relative;
        width: 76.8rem;

    }

    &-liste {

        display: flex;
        flex-wrap: wrap;
        width: 76.8rem;

    }

    &__liste-tech {
        
        position: relative;
        top: 0;
        left: 0;
        visibility: visible;
        transition: top 0.4s ease-out, transform 0.4s;
        /* transform: scale(0.4); */

    }


    &__liste-design {
        
        position: absolute;
        top: 4rem;
        left: 0;
        visibility: hidden;
        transition: top 0.4s ease-out, transform 0.4s;
        /* transform: scale(1); */

    }

    &-liste > article {

        height: 14rem; 
        width: 13.2rem;
        border: 0.4rem solid var(--color-vert);
        border-radius: 1rem;
        @include flex-justify-align;
        flex-direction: column;


        &:nth-child(n + 2) {

            margin-left: 8rem;

        }

        &:nth-child(5) {

            margin-left: 0rem;

        }

        &:nth-child(n + 5) {
            margin-top: 8rem;
        }


        img {
            /* max-height: auto; */
            max-width: 60%;
            padding-bottom: 1rem;
        }

        p {
            font-size: var(--font-size-petit);
            font-family: var(--font-family-roboto-mono);
        }

    }

}
