.contact {

    padding : var(--padding-sections);
    @include flex-align;
    flex-direction: column;
    position: relative;

    p {
        font-size: var(--font-size-grand);
        color: var(--color-vert);
    }

    &__accroche { 

    padding-top: var(--padding-apres-titre);

    }

    &__animation {

        display: flex;
        justify-content: center;
        position: relative;

    }

    &__textecirculaire {

        position: absolute;
        top: 10rem;
        
    }

    &__rond {

        height: 35rem;
        width: 35rem;
        border: 0.2rem solid var(--color-vert);
        border-radius: 100%;
        margin-top: 16rem;
        z-index: 10;
        position: relative;
        @include flex-justify-align;

    }

    &__images {

        position: absolute;
        top: 8rem;
        left: 8rem;

    }

    &__texte {

        position: absolute;
        top: 11rem;

    }

    &__texte > img {

        -webkit-animation-name: rotate;
        -moz-animation-name: rotate;
        -ms-animation-name: rotate;
        -o-animation-name: rotate;
        animation-name: rotate;
        -webkit-animation-duration: 8s;
        -moz-animation-duration: 8s;
        -ms-animation-duration: 8s;
        -o-animation-duration: 8s;
        animation-duration:8
        s;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        -ms-animation-iteration-count: infinite;
        -o-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
        -ms-animation-timing-function: linear;
        -o-animation-timing-function: linear;
        animation-timing-function: linear;

    }

    @-webkit-keyframes rotate {
        from { -webkit-transform: rotate(360deg); }
        to { -webkit-transform: rotate(0); }
    }
    @-moz-keyframes rotate {
        from { -moz-transform: rotate(360deg); }
        to { -moz-transform: rotate(0); }
    }
    @-ms-keyframes rotate {
        from { -ms-transform: rotate(360deg); }
        to { -ms-transform: rotate(0); }
    }
    @-o-keyframes rotate {
        from { -o-transform: rotate(360deg); }
        to { -o-transform: rotate(0); }
    }
    @keyframes rotate {
        from { transform: rotate(360deg); }
        to { transform: rotate(0); }
    }

    &__image-reflechit {
        height: 20rem;
        width: 20rem;
    }

    
    &__image-reflechit, &__image-joyeux, &__image-mail {

        position: absolute;
        visibility: hidden;

    }

    &__rond:hover {  
        .contact__image-reflechit  {

            animation-duration: 2.5s;
            animation-name: reflechit;

            @keyframes reflechit {
                from {
                    visibility: visible;
                }

                to {
                    visibility: hidden;
                }
            }
        }

        .contact__image-joyeux  {

            animation-duration: 2.5s;
            animation-name: joyeux;
            animation-delay: 2.5s;

            @keyframes joyeux {
                from {
                    visibility: visible;
                }

                to {
                    visibility: hidden;
                }
            }
        }

        .contact__image-mail  {

            visibility: visible;
            transition-delay: 5s;
            transition-property: visibility;

        }

    }

    &__eclat-gauche {

        position: absolute;
        left: 8rem;
        top: 30rem; 
        z-index: 8;

    }

    &__eclat-droite {

        position: absolute;
        right: 10rem;
        top: 30rem; 
        z-index: 8;

    }

}