.contact {

    padding : var(--padding-sections);
    display: flex;
    align-items: center;
    flex-direction: column;

    p {
        padding-top: var(--padding-apres-titre);
        font-size: var(--font-size-grand);
        color: var(--color-vert);
    }

    &__animation {

        display: flex;
        /* justify-content: center;
        align-items: center; */
        position: relative;

    }

    &__rond {

        height: 35rem;
        width: 35rem;
        border: 0.2rem solid var(--color-vert);
        border-radius: 100%;
        margin-top: 16rem;
        z-index: 10;
        position: relative;
        @include flex-justify-align;

    }

    &__image-reflechit {

        visibility: hidden;
        position: absolute;


    }

    &__image-joyeux {

        visibility: hidden;
        position: absolute;

    }

    &__image-mail {

        visibility: hidden;
        position: absolute;

    }

    &__rond:hover &__image-reflechit {

        visibility: visible;
    
    }

    &__rond:hover &__image-joyeux {

        visibility: hidden;
    
    }

    &__rond:hover &__image-mail {

        visibility: hidden;
    
    }

    &__rond:hover {
    
    &.disparitionhomer img:nth-child(1)  {

        visibility: hidden;

    }
    
    }

    &__rond:hover {
    
        &.apparitionhomer2 img:nth-child(2)  {
    
            visibility: visible;
    
        }
        
    }

    &__rond:hover {
    
        &.disparitionhomer2 img:nth-child(2)  {
    
            visibility: hidden;
    
        }
        
    }

    &__rond:hover {
    
        &.apparitionmail img:nth-child(3)  {
    
            visibility: visible;
    
        }
        
    }


    &__eclat-gauche {

        position: absolute;
        left: 27rem;
        top: -5rem;
        z-index: 8;

    }

    &__eclat-droite {

        position: absolute;
        right: 27rem;
        top: -5rem;
        z-index: 8;

    }

}