footer {

    padding : var(--padding-sections);
    @include flex-justify;

    @media (max-width: 450px) {

    padding-right: 2rem;
    padding-left: 2rem;

    }

}

.footer {

    z-index: 12;

    &__ligne {

        width: 100rem;
        height: 0.2rem;
        background-color: white;

    }

    &__liens {

        @include flex-justify;
        padding-top: 8rem;
        padding-bottom: 8rem;

        & > a {

            height: 8rem;
            width: 8rem;
            border: 0.2rem solid white;
            border-radius: 100%;
            @include flex-justify-align;
            transition: .5s all ease-in-out;

            &:nth-child(n + 2) {

                margin-left: 8rem;

            }

        }

        & > a:hover {

            transform: translateY(1.2rem);
            box-shadow: 0rem 0.4rem 0.8rem #FFF;

        }


    }

    &__linkedin {

        height: 3.6rem;
        width: 3.6rem;

    }

    &__copyright {

        text-align: center;
        padding-bottom: 8rem;

    }

    @media (max-width: 1250px) { 

        &__ligne {

            width: 80rem;

        }
    
    }

    @media (max-width: 1000px) { 

        &__ligne {

            width: 60rem;

        }

        &__copyright {

            font-size: 2rem;

        }
    
    }

    @media (max-width: 750px) { 

        &__ligne {

            width: 40rem;

        }

        &__liens {
    
            & > a {

                height: 6rem;
                width: 6rem;
    
            }

        }

        &__github {

            height: 3.2rem;
            width: 3.2rem;

        }

        &__linkedin {

            height: 2.8rem;
            width: 2.8rem;

        }

        &__copyright {

            font-size: 1.5rem;

        }

    }

    @media (max-width: 550px) { 

        &__ligne {

            width: 34rem;
            margin: auto;

        }

        &__copyright {

            font-size: 1.2rem;

        }
    
    }

    @media (max-width: 450px) {


        &__ligne {

            width: 25rem;
            margin: auto;

        }

        &__liens {
    
            & > a {

                height: 4rem;
                width: 4rem;

                &:nth-child(n + 2) {

                    margin-left: 5rem;
    
                }
    
            }

        }

        &__github {

            height: 2.6rem;
            width: 2.6rem;

        }

        &__linkedin {

            height: 2.1rem;
            width: 2.1rem;

        }

        &__copyright {

            font-size: 1rem;

        }


    }

}