.navbar {
    @include flex-align;
    justify-content: space-between;
    padding: 3rem 8rem;

    &__cv {

        font-size: var(--font-size-moyen);
        border: 0.2rem solid var(--color-vert);
        color: var(--color-vert);
        height: 4.8rem;
        width: 4.8rem;
        @include flex-justify-align;
        border-radius: 100%;

    }

    &__bloc-liens {

        font-size: var(--font-size-petit);
        font-family: var(--font-family-roboto-mono);

        & a:nth-child(n+2) {
            margin-left: 4.3rem;
        }
    }

    &__liens { 

        position: relative;
    
        &:before, &:after {

            content: "";
            position: absolute;
            height: 0.1rem;
            background: var(--color-vert);
            opacity: 0;
            left: 50%;
            transform: translate(-50%, 1.2rem);
            transition: all 0.2s ease-in-out;

        } 
    
        &:before {
            width: 90%;
            top: 0.2rem;
        }
    
        &:after {
            width: 60%;
            top: 0.6rem;
        }
    
        &:hover::before, 
        &:hover::after {
            opacity: 1;
            transform: translate(-50%, 2.2rem);
        }
    
        &::before, 
        &::after {
            transition-delay: 0.1s;
        }
        &:hover::before {
            transition-delay: 0s;
        }
    }
}









