.navbar {
    @include flex-align;
    justify-content: space-between;
    padding: 3rem 8rem;

    &__cv {

        font-size: var(--font-size-moyen);
        border: 0.2rem solid var(--color-vert);
        color: var(--color-vert);
        height: 4.8rem;
        width: 4.8rem;
        @include flex-justify-align;
        border-radius: 100%;

    }

    &__bloc-liens {

        font-size: var(--font-size-petit);
        font-family: var(--font-family-roboto-mono);
        @include flex-align;

        & a:nth-child(n+2) {
            margin-left: 5rem;
        }
    }

    &__liens { 

        position: relative;
    
        &:before, &:after {

            content: "";
            position: absolute;
            height: 0.1rem;
            background: var(--color-vert);
            opacity: 0;
            left: 50%;
            transform: translate(-50%, 1.2rem);
            transition: all 0.2s ease-in-out;

        } 
    
        &:before {
            width: 90%;
            top: 0.2rem;
        }
    
        &:after {
            width: 60%;
            top: 0.6rem;
        }
    
        &:hover::before, 
        &:hover::after {
            opacity: 1;
            transform: translate(-50%, 2.2rem);
        }
    
        &::before, 
        &::after {
            transition-delay: 0.1s;
        }
        &:hover::before {
            transition-delay: 0s;
        }
    }

    &__ouvrir {

        position: absolute;
        top: 3.5rem;
        right: 3.5rem;
        visibility: hidden;

        & button {

            cursor: pointer;

        }
        

        & img {

            height: 70%;
            width: 70%;

        }


    }

    &__ferme {

        visibility: hidden;
        margin-right: 2rem;
        margin-top: 2rem;

        & img {

            height: 4rem;
            width: 4rem;

        }

    }

    @media (max-width: 950px) {

        &__liens {

            &:before, &:after {

                display: none;

            }

        }

        &__bloc-liens {

            height: 100vh;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 10;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: black;
            transition: top 1s ease; 
            display: none;

            & a:nth-child(n+2) {
                margin-left: 0rem;
            }

            & a {

                margin-top: 3rem;
                font-size: var(--font-size-moyen);
                box-shadow: inset 0 0 0 0 #54EBD7;
                color: var(--color-blanc);
                transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
                padding: 1rem;

                &:hover {
                    color: var(--color-noir);
                    box-shadow: inset 20rem 0 0 0 #54EBD7;
                }

            }
        }

        &__ferme {

            display: block;
            visibility: visible;
            padding: 1.5rem;
            @include flex-justify-align;
            position: absolute;
            border-radius: 100%;
            top: 2rem;
            right: 2rem;
            cursor: pointer;
            transition: background-color 0.2s;

            &:hover {
                background-color: var(--color-gris-fonce);
            }
            
            &:active {
                transform: scale(0.98);
            }
            
            & img {

                width: 3rem;
                height: 3rem;

            }
    
        }    

        &__ouvrir {

            display: block;
            visibility: visible;
    
        }
    }

    @media (max-width: 650px) {

        &__bloc-liens {

            & a {
                font-size: 2rem;
            }

        }

        &__ferme {

            margin-right: 0rem;
            margin-top: 0rem;

        }

    }

}











