html {
    font-size: 62.5%; // 1rem = 10px;
    background-color: var(--color-noir);
    color: var(--color-blanc);
}

body {
    font-size: var(--font-size-moyen);
    font-family: var(--font-family-dm-mono);
    overflow-x: hidden;
}

h1 { font-size: var(--font-size-h1); }

h2 { font-size: var(--font-size-h2); }

h1, h2 {

    font-family: var(--font-family-dm-serif-display);

}





