:root {
    --color-vert: #54EBD7;
    --color-blanc: #FFFFFF;
    --color-noir: #000000;
    --color-rouge: #D12F1B;
    --color-bleu: #02628C;
    --color-violet: #AD3EA4;
    --color-gris-fonce: #131313;
    --color-gris-clair: #C4C4C4;

    /* FONTS */
    --font-size-petit: 1.6rem;
    --font-size-carte: 2rem;
    --font-size-moyen: 2.4rem;
    --font-size-grand: 3.6rem;
    --font-size-intermediaire: 3rem;
    --font-size-h1: 6rem;
    --font-size-h2: 4.5rem;

    /* FONTS FAMILY */
    --font-family-roboto-mono: 'Roboto Mono', monospace;
    --font-family-dm-mono: 'DM Mono', monospace;
    --font-family-dm-serif-display: 'DM Serif Display', serif;
    --font-family-pacifico: 'Pacifico', cursive;
    --font-family-kreon: 'Kreon', serif;

    /* PADDING */

    --padding-sections: 13rem 21.5rem  0  21.5rem;
    --padding-apres-titre: 13rem;


}


/* variables couleurs
- vert fluo #54EBD7
- blanc #FFFFFF
- noir #000000
- rouge #D12F1B
- bleu #02628C
- violet  #AD3EA4
- noirgris (blocapropos) #131313
- grisblancapple #C4C4C4

variable
- h1: 40px;
- h2: 30px;
- petit: 12px;
- milieu: 16px;
- grand: 20px;
- très grand: 25px;



*/